﻿@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Some Error";
}

<hgroup class="title">
    <h1 class="error">Error.</h1>
    <h2 class="error">An error occurred while processing your request.</h2><br />
    @if (!string.IsNullOrWhiteSpace(ViewBag.Message))
        {
            <h2>@ViewBag.Message</h2><br />
        }
    <h1 class="error">Message:</h1><br />
    <h2>@Model.Exception.Message</h2>
    @{
        string exceptionMessage;
        while (Model.Exception.InnerException != null)
        {
            exceptionMessage += string.Format("<br /><h3>Inner exception message:</h3> {0}", Model.Exception.InnerException.Message);
        }
        <h2>@HtmlString(exceptionMessage)</h2>
    }
</hgroup>
