﻿@model IEnumerable<SomeMvcApp.Models.User>

@{
    ViewBag.Title = "About";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<article>
<div id="instruction" title="Click to open" style="cursor: help" ><h3>Инструкция</h3></div>
<div id="manual" style="display: none;">
<p>
1. "Из коробки" есть 2 зарегистрированных пользователя (пароль для обоих - "123456"):<br />
- "User1"<br />
- "User2"</p>
<p>
2. После авторизации (Log in) отображается список доступных записей в базе данных</p>
<p>
3. Справа доступны кнопки для манипулирования записями: <br />
- Редактирование (Edit), <br />
- Просмотр деталей (Details)<br />
- Удаление (Delete)</p>
<p>
4. Перед редактированием, предоставляется выбор блокировки (Confirm message) (Пессимистическая - "OK", без блокировки - "Cancel" )</p>
<p>
5. Если запись заблокирована другим пользователем, то редактирование и удаление записи запрещено (присутствует запись о блокировании записи и имя пользователя, кто её заблокировал)</p>
<p>
6. Если запись редактировалась без предварительной блокировки (оптимистическая блокировка), то пользователю, который сохраняет измененную запись последним, предоставляется сообщение, какие поля изменились в базе и их значение в сравнении с текущими значениями, которые внёс текущий пользователь (вы).</p>
<p>
6.1 После отображения конфликтных полей пользователь может:<br />
 - перезаписать изменения в базе своими изменениями - просто нажав кнопку "Save" ещё раз, <br />
 - перезаписать только некоторые поля (взяв предложенные изменения из базы)<br />
 - отменить свои изменения нажав "Cancel" или "Back to list".</p>
</div>
</article>

<aside>
    <h3>Some Aside Title</h3>
    <p>
        Use this area to provide additional information.
    </p>
    <ul>
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li><b>About</b></li>
    </ul>
</aside>

<script type="text/javascript">
    $('#instruction').click(function () {
        $('#manual').slideToggle('slow', function () {
            $('#instruction').attr("title", function (index, attr) {
                this.title = (this.title == "Click to open") ? "Click to close" : "Click to open";
            });          
        });
    });
</script>