﻿@{
    ViewBag.Title = "Home";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>Hello, today is @if (DateTime.Today.DayOfWeek == DayOfWeek.Friday)
                               {<strong>Friday</strong><span>!!!</span>}
                               else
                               {<span>not friday.</span>}
                <br />
                <br />
            </p>
        </div>
    </section>
}
<h3>Welcome!</h3>
<ol class="round">
    <li class="one">
        <h5>Log in please!</h5>
        <br />
    </li>

    <li class="two">
        <h5>Then you'll see the data</h5>        
        <br />
    </li>

    <li class="three">
        <h5>Thanks.</h5>
        <br />
    </li>
</ol>
