﻿@model IEnumerable<SomeMvcApp.Models.User>

@{
	ViewBag.Title = "About";
}

<hgroup class="title">
	<h1>@ViewBag.Title</h1>
	<h2>@ViewBag.Message</h2>
</hgroup>

<article>
<div id="instruction" title="Click to open" style="cursor: help" ><h3>Инструкция</h3></div>
<div id="manual" style="display: none;">
<p>
1. "Из коробки" есть 2 зарегистрированных пользователя (пароль для обоих - "123456"):<br />
- "User1"<br />
- "User2"</p>
<p>
2. После авторизации (Log in) отображается список доступных записей в базе данных</p>
<p>
3. Справа доступны кнопки для манипулирования записями: <br />
- Редактирование (Edit), <br />
- Просмотр деталей (Details)<br />
- Удаление (Delete)</p>
<p>
4. Перед редактированием, предоставляется выбор блокировки (Confirm message) (Пессимистическая - "OK", без блокировки - "Cancel" )</p>
<p>
5. Если запись заблокирована другим пользователем, то редактирование и удаление записи запрещено (присутствует запись о блокировании записи и имя пользователя, кто её заблокировал)</p>
<p>
6. Если запись редактировалась без предварительной блокировки (оптимистическая блокировка), то пользователю, который сохраняет измененную запись последним, предоставляется сообщение, какие поля изменились в базе и их значение в сравнении с текущими значениями, которые внёс текущий пользователь (вы).</p>
<p>
6.1 После отображения конфликтных полей пользователь может:<br />
 - перезаписать изменения в базе своими изменениями - просто нажав кнопку "Save" ещё раз, <br />
 - перезаписать только некоторые поля (взяв предложенные изменения из базы)<br />
 - отменить свои изменения нажав "Cancel" или "Back to list".</p>
</div>
</article>

<aside>
	<h3>Some Aside Title</h3>
	<p>
		Use this area to provide additional information.
	</p>
	<ul>
		<li>@Html.ActionLink("Home", "Index", "Home")</li>
		<li><b>About</b></li>
	</ul>
</aside>

<div style="float:left; width:70%">
	<table style="border: 1px solid; width:100%">
		<tr>
			<th colspan="4" style="text-align:center; border-bottom:1px solid;">
				<h3>User&nbsp;creation&nbsp;Statistics</h3>
			</th>
		</tr>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.Name)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Created)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.ItemsCreated)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.ItemsUpdated)
			</th>
		</tr>
		@foreach (var item in Model)
		{ 
			<tr>
				<td>
					@item.Name
				</td>
				<td>
					@string.Format("{0:dd.MM.yyyy / H:mm:ss}", item.Created)
				</td>
				<td>
					@item.ItemsCreated.Count
				</td>
				<td>
					@item.ItemsUpdated.Count
				</td>
			</tr>
		}
	</table>
</div>

<script type="text/javascript">
	$('#instruction').click(function () {
		$('#manual').slideToggle('slow', function () {
			$('#instruction').attr("title", function (index, attr) {
				this.title = (this.title == "Click to open") ? "Click to close" : "Click to open";
			});
		});
	});
</script>