﻿@model SomeMvcApp.Models.SomeItem

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>@(Model.Locked ? "This record is locked! You can not delete it." : "Are you sure you want to delete this?")</h3>
<p class="error">@MvcHtmlString.Create(ViewBag.ConcurrencyErrorMessage)</p> 

<fieldset>
    <legend>SomeItem</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Title): 
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Title)
    </div>
    @if (!string.IsNullOrWhiteSpace(Model.Description))
    {
        <div class="display-label">
             @Html.DisplayNameFor(model => model.Description): 
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Description)
        </div>
    }
</fieldset>
@using (Html.BeginForm()) {
    @Html.HiddenFor(model => model.Id) 
    @Html.HiddenFor(model => model.TimeStamp) 
    <p>
        <input type="submit" value="Delete" @(Html.Raw(Model.Locked ? "disabled=\"disabled\" style=\"color:Gray\" title=\"Item is locked\"" : string.Empty)) />
        @Html.ActionLink("Back to List", "Index")
    </p>
}
