﻿@model SomeMvcApp.Models.SomeItem

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div class="display-field">
    <h3>
        @if (Model.Locked)
        {
            <span class="red-style">Record is locked</span> <span>by</span> @Html.DisplayFor(model => model.UpdatedBy.Name)
        }
        else
        {
            <span>Record is not locked</span>
        }
    </h3>
</div>

<fieldset>
    <legend>SomeItem</legend>

    <div class="display-label">
         <h3>@Html.DisplayNameFor(model => model.Title)</h3>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Title)
    </div>

    <div class="display-label">
         <h3>@Html.DisplayNameFor(model => model.Description)</h3>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>
    
    <div class="display-label">
        <h4>@Html.DisplayNameFor(model => model.CreatedBy)</h4>
    </div>
    <div class="display-field">      
        <strong>User Name:</strong> @Html.DisplayFor(model => model.CreatedBy.Name)
    </div>
    
    <div class="display-label">
         <h4>@Html.DisplayNameFor(model => model.UpdatedBy)</h4>
    </div>
    <div class="display-field">
        <strong>User Name:</strong> @Html.DisplayFor(model => model.UpdatedBy.Name)
        <br />
        <br />
    </div>

    <div class="display-label">
         <strong>TimeStamp:</strong> @Html.DisplayFor(model => model.TimeStamp)
    </div>

</fieldset>
<p>
@if (!Model.Locked)
{
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) @("|")
}
    @Html.ActionLink("Back to List", "Index")
</p>
