﻿@model SomeMvcApp.Models.SomeItem
@{
    ViewBag.Title = "Edit";
    ViewBag.SelfLock = false;
    if (Model.Locked)
    {
        ViewBag.SelfLock = User.Identity.Name.ToLower() == Model.UpdatedBy.Name.ToLower();
    }
}
<h2>Edit</h2>
<div id="saveResult" visibility="hidden"></div>
<h3>
    @if (Model.Locked)
    {
        <span class="red-style">Record is locked</span> <span>by</span> 
        if (ViewBag.SelfLock)
        { 
        <span>You</span>
        }
        else
        {
        @Html.DisplayFor(model => model.UpdatedBy.Name)
        }
    }
</h3>
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>SomeItem</legend>
        @Html.HiddenFor(model => model.Id)
        <div class="editor-label">
            @Html.LabelFor(model => model.Title)
        </div>
        <div class="editor-field">
            @if (Model.Locked && !ViewBag.SelfLock)
            {
                @Model.Title 
            }
            else
            {
                @Html.EditorFor(model => model.Title)
                @Html.ValidationMessageFor(model => model.Title)
            }
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Description)
        </div>
        <div class="editor-field">
            @if (Model.Locked && !ViewBag.SelfLock)
            {
                @Model.Description 
            }
            else
            {
                @Html.EditorFor(model => model.Description)
                @Html.ValidationMessageFor(model => model.Description)
            }
        </div>
        <div class="display-label">
            <h4>@Html.LabelFor(model => model.CreatedBy)</h4>
        </div>
        <div class="display-field">
            <strong>User Name:</strong> @Html.DisplayFor(model => model.CreatedBy.Name)
        </div>
        <div class="display-label">
            <h4>@Html.LabelFor(model => model.UpdatedBy)</h4>
        </div>
        <div class="display-field">
            <strong>User Name:</strong> @Html.DisplayFor(model => model.UpdatedBy.Name)
            @Html.ValidationMessageFor(model => model.UpdatedBy)
        </div>
        <div class="display-field">
            <h3>
                @if (!Model.Locked)
                {
                    @*@Html.EditorFor(model => model.Locked)*@
                    <span id="lockSpan">No lock</span>
                }</h3>
        </div>
        @Html.HiddenFor(model => model.TimeStamp)
        <p>
            @if (!Model.Locked || ViewBag.SelfLock)
            {
                <input type="submit" value="Save" id="submitBtn" /> @("|  ")
            }
            <input type="button" value="Cancel" id="cancelBtn" />
        </p>
    </fieldset>
}
<div>
    @Html.ActionLink("Back to List", "Index", "Some", null, new { id = "backBtn" }) 
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<script type="text/javascript">
    //        $('#Locked').change(function () {
    //            var lockText = $(this).attr("checked") ? 'Record is locked' : 'No lock';
    //            $('#lockSpan').text(lockText).toggleClass("red-style");
    //        });

    function redirectToIndex() {
        window.location.href = '/Some/Index';
    };

    function ajaxReturn(event) {
        event.preventDefault();
        if ("@Model.Locked".toLowerCase() == "true") {
            $.ajax({
                url: '@Url.Action("Edit", "Some", new RouteValueDictionary(new { id = Model.Id, isLocked = false }))',
                //data: { id: 'Model.Id' },
                //success: redirectToIndex;
                complete: redirectToIndex
            });
            //redirectToIndex();
        }
        else {
            redirectToIndex();
        }
    };

    $(document).ready(function () {
        $('#submitBtn').click(ajaxSave);

        $('#cancelBtn').click(ajaxReturn);
        $('#backBtn').click(ajaxReturn);
    });

    function ajaxSave(e) {
        var order = {
            Id: $("#Id").val(),
            Title: $("#Title").val(),
            Description: $("#Description").val()
            //UpdatedBy.Name: $("#UpdatedBy.Name").val()
        };

        $.ajax({
            url: "/Some/JsonSave",
            type: "POST",
            data: JSON.stringify(order),
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            success: function (result) {
                resultSuccess = result.Item1;
                $("#saveResult").attr("visibility", "visible");
                if (resultSuccess) {
                	saveSuccessfuly("Redirect to main page...");

                    setTimeout(redirectToIndex, 3000);
                } else {
                    saveFailed(result.Item2);
                }
            },
            error: function (e) {
                $("#saveResult").attr("visibility", "visible");
                saveFailed();
            }
        });

        return false;
    };

    function saveSuccessfuly(message) {
    	$("#saveResult").html("Saved successfuly.<br/>" + message);
    	$('#saveResult').toggleClass('red-style', false);
    	$('#saveResult').toggleClass('green-style', true);
    };

    function saveFailed(message){
        $("#saveResult").html("Save failed.<br />" + message);
        $('#saveResult').toggleClass('red-style', true);
        $('#saveResult').toggleClass('green-style', false);
    };
</script>
