﻿@model PagedList.IPagedList <SomeMvcApp.Models.SomeItem>
       @*IEnumerable < SomeMvcApp.Models.SomeItem >*@

@{
    ViewBag.Title = "Some Items";
}

<h2>Some items</h2>

@using (Html.BeginForm())
{ 
    <p>
        Find by title: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string) &nbsp;
        <input type="submit" value="Search" />
        <input type="button" value="Reset" onclick="resetFilter();"/>
    </p> 
}
<p>
    @Html.ActionLink("Create New", "Create")
</p>

@*Headers*@
<table style="border:2px solid;width:90%;" >
    <tr style="border:1px solid" >
        <th style="border:1px solid;text-align:center;" >
            @*@Html.DisplayNameFor(model => model.Title)*@              @*Title ascending by default*@
            @Html.ActionLink("Title", "Index", new { sortOrder = (string.IsNullOrEmpty(ViewBag.SortParam)) ? "title desc" : string.Empty })
        </th>
        <th style="border:1px solid;text-align:center;" >
            @*@Html.DisplayNameFor(model => model.Description)*@
            @Html.ActionLink("Description", "Index", new { sortOrder = (ViewBag.SortParam == "descript") ? "descript desc" : "descript" })
        </th>
        <th style="border:1px solid;text-align:center;" >
            @*@Html.DisplayNameFor(model => model.CreatedBy)*@
            @Html.ActionLink("Created By", "Index", new { sortOrder = (ViewBag.SortParam == "user") ? "user desc" : "user" })
        </th>
        <th style="border:1px solid;text-align:center;" >
            @Html.DisplayNameFor(model => model[0].UpdatedBy)
        </th>
        <th style="border:1px solid;text-align:center;" >
            @*@Html.DisplayNameFor(model => model.Locked)*@
            @Html.ActionLink("Locked", "Index", new { sortOrder = (ViewBag.SortParam == "lock") ? "lock desc" : "lock" })
        </th>
        <th>
        </th>
    </tr>

@*Rows*@
@foreach (var item in Model)
{
    <tr style="border:1px solid" >
        @Html.HiddenFor(modelItem => item.Id)
        <td style="border:1px solid;text-align:center;" >
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td style="border:1px solid" >
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td style="border:1px solid" >
            @Html.DisplayFor(modelItem => item.CreatedBy.Name)
        </td>
        <td style="border:1px solid" >
            @Html.DisplayFor(modelItem => item.UpdatedBy.Name)
        </td>
        <td style="border:1px solid;text-align:center;" >
            @(item.Locked ? "Yes" : "No")
        </td>
        <td style="border:1px solid;width:auto;" >
            @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new
       {
           onclick = "return choseLockMode(" + item.Id + ", '" + item.Locked + "', '" + (item.UpdatedBy.Name.ToLower() == User.Identity.Name.ToLower()) + "');"
       }) | 
            @Html.ActionLink("Details", "Details", new { id = item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
        </td>
    </tr>
}
</table>

@*Paging*@
<div> 
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) 
    of @Model.PageCount 
    &nbsp; 
    @if (Model.HasPreviousPage) 
    { 
        @Html.ActionLink("<<", "Index", new { pageNumber = 1, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }) 
        @Html.Raw("&nbsp;"); 
        @Html.ActionLink("< Prev", "Index", new { pageNumber = Model.PageNumber - 1, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }) 
    } 
    else 
    { 
        @:<< 
        @Html.Raw("&nbsp;"); 
        @:< Prev 
    } 
    &nbsp; 
    @if (Model.HasNextPage) 
    { 
        @Html.ActionLink("Next >", "Index", new { pageNumber = Model.PageNumber + 1, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }) 
        @Html.Raw("&nbsp;"); 
        @Html.ActionLink(">>", "Index", new { pageNumber = Model.PageCount, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }) 
    } 
    else 
    { 
        @:Next > 
        @Html.Raw("&nbsp;") 
        @:>> 
    } 
</div>

<script type="text/javascript">
    function resetFilter() {
        window.location = '/Some';
    }
    //$(document).ready(function(){
        function choseLockMode(modId, itemLocked, selfLock) {
            // for now - cannot manage string to bolean convertion in JS :(
            if (itemLocked.toLowerCase() == 'true' && selfLock.toLowerCase() == 'false') return;
        
            if (confirm('Do you want to lock record before editing?')) {
                  //ViewBag.IsLocked = false;
                window.location = '/Some/Edit/' + modId + '/true';
                return false;
            } 
        }
    //});
</script>
